/* ボタンの背景色や文字色、ホバー時の色を指定 */
.VPButton.green {
  border-color: #22c55e !important;
  color: #ffffff !important;
  background-color: #22c55e !important;
}

.VPButton.green:hover {
  border-color: #202020 !important;
  background-color: #16a34a !important;
}
.VPButton.orange {
  border-color: #fcac20 !important;
  color: #ffffff !important;
  background-color: #fcac20 !important;
}

.VPButton.orange:hover {
  border-color: #202020 !important;
  background-color: #fcac20 !important;
}
.VPButton.red {
  border-color: #fc2020 !important;
  color: #ffffff !important;
  background-color: #fc2020 !important;
}

.VPButton.red:hover {
  border-color: #202020 !important;
  background-color: #fc2020 !important;
}
.VPButton.black {
  border-color: #202020 !important;
  color: #ffffff !important;
  background-color: #202020 !important;
}

.VPButton.black:hover {
  border-color: #202020 !important;
  background-color: #202020 !important;
}
.VPButton.gold {
  border-color: #FFD700 !important;
  color: #0f0f0f !important;
  background-color: #FFD700 !important;
}

.VPButton.gold:hover {
  border-color: #202020 !important;
  background-color: #FFD700 !important;
}

.VPButton.brand:hover {
  border-color: #202020 !important;
}
.VPButton.alt:hover {
  border-color: #202020 !important;
}

.VPHome span.name, span.text {
    max-width: 90%;
}

img {
    display: block; 
    margin: auto;
    width: 100%;
}
img.left {
    display: block; 
    margin-left: 0;
    width: 100%;
}
img.block {
    display: block; 
    margin-left: 0;
    height: 50px;
}

table.block tr {
  border: none !important;
}

table.block td {
  border: none !important;
}

p {
  font-weight:500;
}

.vp-doc h1 {
  background-color:darkgreen;
  color:#ffffff;
  display:flex;
  align-items: center;
  min-height: 85px;
  padding-top: 0;
  padding-left: 15px;
}

.vp-doc h2 {
  background-color:midnightblue;
  color:#ffffff;
  display:flex;
  align-items: center;
  min-height: 70px;
  padding-top: 0;
  padding-left: 15px;
}
.vp-doc h3 {
  background-color:royalblue;
  color:#ffffff;
  display:flex;
  align-items: center;
  min-height: 40px;
  padding-top: 0;
  padding-left: 15px;
}
.tip p {
  font-weight:600;
}